/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.button {
  display: block;
  width: 100%;
  padding: 10px 0;

  border: none;
  border-radius: 10px;

  color: #414040;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: 1px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.yellow {
  background: #fad953; /* Old browsers */
  background: -moz-linear-gradient(top,  #fad953 0%, #d1b440 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fad953), color-stop(100%,#d1b440)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fad953 0%,#d1b440 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fad953 0%,#d1b440 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fad953 0%,#d1b440 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fad953 0%,#d1b440 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad953', endColorstr='#d1b440',GradientType=0 ); /* IE6-9 */
}
